:global {
  :local(.root) {
    align-items: center;
    background-image: linear-gradient(#d5e7ff 150px, #fff 101px);

    .title {
      width: 100%;
      font-size: 18px;
      line-height: 50px;
      text-align: center;
      border-bottom: 1px dashed #bcd5f8;
    }

    .avatar {
      width: 80px;
      height: 80px;
      margin-top: 50px;
      background-size: cover;
      border: 5px solid #fff;
      border-radius: 80px;
    }

    .nickname {
      padding: 4px;
      font-weight: bold;
      font-size: 15px;
    }

    .score {
      padding-bottom: 40px;
      color: #999;
      font-size: 12px;
    }

    .login {
      margin-top: 50px;
      padding: 5px 30px;
      color: #fff;
      font-size: 15px;
      background-color: #0069f3;
      border-radius: 100px;
      cursor: pointer;
    }

    .logout {
      padding: 5px 30px;
      color: #0069f3;
      font-size: 15px;
      border: 1px solid #0069f3;
      border-radius: 100px;
      cursor: pointer;
    }
  }
}
