<% if(render ==='tpl'){ -%>
<template>
  <DocumentHead title="个人中心" />
  <div :class="[$style.root, 'g-page-content']">
    <div class="title">个人中心</div>
    <div class="avatar" :style="{backgroundImage: `url(${StaticPrefix + curUser.avatar})`}" />
    <template v-if="curUser.hasLogin">
      <div class="nickname">{{ curUser.username }}</div>
      <div class="score">{{ `✆ ${curUser.mobile}` }}</div>
      <div class="logout" @click="onLogout">退出登录</div>
    </template>
    <template v-else>
      <div class="nickname">游客</div>
      <div class="login" @click="onLogin">登 录</div>
    </template>
  </div>
  <TabBar selected="my" />
</template>
<% } -%>
<% if(framework ==='reactRedux'){ -%>
import {useCallback, FC} from 'react';
import {Dispatch, DocumentHead, connectRedux} from '@elux/<%= elux %>';
<% }else{ -%>
import {defineComponent, computed} from 'vue';
import {exportView, DocumentHead, ComputedStore} from '@elux/<%= elux %>';
<% } -%>
import {CurUser} from '@/modules/stage/entity';
import {Modules, StaticPrefix, GetRouter, APPState<%= framework ==='vueVuex' ? ', useStore' : '' %>} from '@/Global';
import TabBar from '@/components/TabBar.vue';
import styles from './index.module.less';

interface StoreProps {
  curUser: CurUser;
}

<% if(framework ==='reactRedux'){ -%>
interface DispatchProps {
  dispatch: Dispatch;
}

function mapStateToProps(appState: APPState): StoreProps {
  const stage = appState.stage;
  return {curUser: stage.curUser!};
}

const Component: FC<StoreProps & DispatchProps> = ({curUser, dispatch}) => {
  const onLogin = useCallback(() => GetRouter().push('/login'), []);
  const onLogout = useCallback(() => dispatch(Modules.stage.actions.logout()), [dispatch]);

  return (
    <>
      <DocumentHead title="个人中心" />
      <div className={`${styles.root} g-page-content`}>
        <div className="title">个人中心</div>
        <div className="avatar" style={{backgroundImage: `url(${StaticPrefix + curUser.avatar})`}} />
        {curUser.hasLogin ? (
          <>
            <div className="nickname">{curUser.username}</div>
            <div className="score">{`✆ ${curUser.mobile}`}</div>
            <div className="logout" onClick={onLogout}>
              退出登录
            </div>
          </>
        ) : (
          <>
            <div className="nickname">游客</div>
            <div className="login" onClick={onLogin}>
              登 录
            </div>
          </>
        )}
      </div>
      <TabBar selected="my" />
    </>
  );
};

export default connectRedux(mapStateToProps)(Component);
<% }else{ -%>
function mapStateToProps({stage}: APPState): ComputedStore<StoreProps> {
  return {
    curUser: () => stage.curUser!,
  };
}

const Component = defineComponent({
  name: 'MyUserSummary',
  <%_ if(render ==='tpl'){ -%>
  components: {
    DocumentHead,
    TabBar,
  },
  <%_ } -%>
  setup() {
    const store = useStore();
    const computedStore = mapStateToProps(store.getState());
    const curUser = computed(computedStore.curUser);
    const onLogin = () => GetRouter().push('/login');
    const onLogout = () => store.dispatch(Modules.stage.actions.logout());
    return {curUser, onLogin, onLogout, StaticPrefix};
  },
  <%_ if(render !=='tpl'){ -%>
  render() {
    const {curUser, onLogin, onLogout} = this;

    return (
      <>
        <DocumentHead title="个人中心" />
        <div class={`${styles.root} g-page-content`}>
          <div class="title">个人中心</div>
          <div class="avatar" style={{backgroundImage: `url(${StaticPrefix + curUser.avatar})`}} />
          {curUser.hasLogin ? (
            <>
              <div class="nickname">{curUser.username}</div>
              <div class="score">{`✆ ${curUser.mobile}`}</div>
              <div class="logout" onClick={onLogout}>
                退出登录
              </div>
            </>
          ) : (
            <>
              <div class="nickname">游客</div>
              <div class="login" onClick={onLogin}>
                登 录
              </div>
            </>
          )}
        </div>
        <TabBar selected="my" />
      </>
    );
  },
  <%_ } -%>
});

export default exportView(Component);
<% } -%>
