import React, {useCallback, useState} from 'react';
import {Dispatch, connectRedux, DocumentHead} from '@elux/react-redux-web';
import NavBar from '@/components/NavBar';
import {GetRouter, Modules} from '@/Global';
import styles from './index.module.<%= css %>';

interface DispatchProps {
  dispatch: Dispatch;
}

const Component: React.FC<DispatchProps> = ({dispatch}) => {
  const onCancel = useCallback(() => GetRouter().back(1, true), []);
  const [errorMessage, setErrorMessage] = useState('');
  const [username, setUsername] = useState('');
  const [password, setPassword] = useState('');
  const onSubmit = () => {
    if (!username || !password) {
      setErrorMessage('请输入用户名、密码');
    } else {
      const result = dispatch(Modules.stage.actions.login({username, password})) as Promise<void>;
      result.catch(({message}) => {
        setErrorMessage(message);
      });
    }
  };
  return (
    <>
      <DocumentHead title="登录" />
      <NavBar title="登录" />
      <div className={`${styles.root} g-page-content`}>
        <div className="form-body">
          <div className="form-item">
            <div className="label">用户名:</div>
            <div className="item">
              <input
                name="username"
                className="g-input"
                type="text"
                placeholder="请输入"
                onChange={(e) => setUsername(e.target.value.trim())}
                value={username}
              />
            </div>
          </div>
          <div className="form-item">
            <div className="label">密码:</div>
            <div className="item">
              <input
                name="password"
                type="password"
                className="g-input"
                placeholder="请输入"
                onChange={(e) => setPassword(e.target.value.trim())}
                value={password}
              />
            </div>
          </div>
          {errorMessage && <div className="error">* {errorMessage}</div>}
        </div>
        <div className="form-control">
          <button type="submit" className="g-button primary" onClick={onSubmit}>
            登 录
          </button>
          <button type="button" className="g-button" onClick={onCancel}>
            取 消
          </button>
        </div>
      </div>
    </>
  );
};

export default connectRedux()(Component);
