:global {
  :local(.root) {
    position: relative;
    flex: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #e7e7e7;

    .back {
      position: absolute;
      left: 0;
      width: 50px;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      cursor: pointer;

      &::before {
        color: #666;
        font-size: 24px;
        content: '<';
      }
    }

    .title {
      margin: 0 70px;
      overflow: hidden;
      font-size: 18px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
