<% if(render ==='tpl'){ -%>
<template>
  <DocumentHead title="登录" />
  <NavBar title="登录" />
  <div :class="[$style.root, 'g-page-content']">
    <div class="form-body">
      <div class="form-item">
        <div class="label">用户名:</div>
        <div class="item">
          <input v-model="username" name="username" class="g-input" type="text" placeholder="请输入" />
        </div>
      </div>
      <div class="form-item">
        <div class="label">密码:</div>
        <div class="item">
          <input v-model="password" name="password" type="password" class="g-input" placeholder="请输入" />
        </div>
      </div>
      <div v-if="errorMessage" class="error">{{ `* ${errorMessage}` }}</div>
    </div>
    <div class="form-control">
      <button type="submit" class="g-button primary" @click="onSubmit">登 录</button>
      <button type="button" class="g-button" @click="onCancel">取 消</button>
    </div>
  </div>
</template>
<% } -%>
<% if(framework ==='reactRedux'){ -%>
import {useCallback, useState, FC} from 'react';
import {Dispatch, DocumentHead, connectRedux} from '@elux/<%= elux %>';
<% }else{ -%>
import {defineComponent, ref, DefineComponent} from 'vue';
import {exportView, DocumentHead} from '@elux/<%= elux %>';
<% } -%>
import NavBar from '@/components/NavBar.vue';
import {GetRouter, Modules<%= framework ==='vueVuex' ? ', useStore' : '' %>} from '@/Global';
import styles from './index.module.less';

<% if(framework ==='reactRedux'){ -%>
interface DispatchProps {
  dispatch: Dispatch;
}

const Component: FC<DispatchProps> = ({dispatch}) => {
  const onCancel = useCallback(() => GetRouter().back(1, true), []);
  const [errorMessage, setErrorMessage] = useState('');
  const [username, setUsername] = useState('');
  const [password, setPassword] = useState('');
  const onSubmit = useCallback(() => {
    if (!username || !password) {
      setErrorMessage('请输入用户名、密码');
    } else {
      const result = dispatch(Modules.stage.actions.login({username, password})) as Promise<void>;
      result.catch(({message}) => {
        setErrorMessage(message);
      });
    }
  }, [dispatch, password, username]);

  return (
    <>
      <DocumentHead title="登录" />
      <NavBar title="登录" />
      <div className={`${styles.root} g-page-content`}>
        <div className="form-body">
          <div className="form-item">
            <div className="label">用户名:</div>
            <div className="item">
              <input
                name="username"
                className="g-input"
                type="text"
                placeholder="请输入"
                onChange={(e) => setUsername(e.target.value.trim())}
                value={username}
              />
            </div>
          </div>
          <div className="form-item">
            <div className="label">密码:</div>
            <div className="item">
              <input
                name="password"
                type="password"
                className="g-input"
                placeholder="请输入"
                onChange={(e) => setPassword(e.target.value.trim())}
                value={password}
              />
            </div>
          </div>
          {errorMessage && <div className="error">{`* ${errorMessage}`}</div>}
        </div>
        <div className="form-control">
          <button type="submit" className="g-button primary" onClick={onSubmit}>
            登 录
          </button>
          <button type="button" className="g-button" onClick={onCancel}>
            取 消
          </button>
        </div>
      </div>
    </>
  );
};

export default connectRedux()(Component);
<% }else{ -%>
const Component: DefineComponent<{}> = defineComponent({
  name: 'StageLoginForm',
  <%_ if(render ==='tpl'){ -%>
  components: {
    DocumentHead,
    NavBar,
  },
  <%_ } -%>
  setup() {
    const store = useStore();
    const errorMessage = ref('');
    const username = ref('');
    const password = ref('');
    const onCancel = () => GetRouter().back(1);
    const onSubmit = () => {
      if (!username.value || !password.value) {
        errorMessage.value = '请输入用户名、密码';
      } else {
        const result = store.dispatch(Modules.stage.actions.login({username: username.value, password: password.value})) as Promise<void>;
        result.catch(({message}) => {
          errorMessage.value = message;
        });
      }
    };
    return {username, password, errorMessage, onSubmit, onCancel};
  },
  <%_ if(render !=='tpl'){ -%>
  render() {
    const {errorMessage, onSubmit, onCancel} = this;

    return (
      <>
        <DocumentHead title="登录" />
        <NavBar title="登录" />
        <div class={`${styles.root} g-page-content`}>
          <div class="form-body">
            <div class="form-item">
              <div class="label">用户名:</div>
              <div class="item">
                <input name="username" class="g-input" type="text" placeholder="请输入" v-model={this.username} />
              </div>
            </div>
            <div class="form-item">
              <div class="label">密码:</div>
              <div class="item">
                <input name="password" type="password" class="g-input" placeholder="请输入" v-model={this.password} />
              </div>
            </div>
            {errorMessage && <div class="error">{`* ${errorMessage}`}</div>}
          </div>
          <div class="form-control">
            <button type="submit" class="g-button primary" onClick={onSubmit}>
              登 录
            </button>
            <button type="button" class="g-button" onClick={onCancel}>
              取 消
            </button>
          </div>
        </div>
      </>
    );
  },
  <%_ } -%>
});

export default exportView(Component);
<% } -%>
