<% if(render ==='tpl'){ -%>
<template>
  <div :class="$style.root">
    <input v-model="keywordInput" class="keyword" name="keyword" type="text" placeholder="请输入搜索关键字..." />
    <button class="search" @click="onSubmitHandler">搜索</button>
    <div class="add" @click="onCreateHandler">+新增</div>
  </div>
</template>
<% } -%>
<% if(framework ==='reactRedux'){ -%>
import {memo, useCallback, useState, FC} from 'react';
<% }else{ -%>
import {defineComponent, watch, ref, PropType} from 'vue';
<% } -%>
import styles from './index.module.less';

<% if(framework ==='reactRedux'){ -%>
interface Props {
  keyword: string;
  onSubmit: (keyword: string) => void;
  onCreate: () => void;
}

const Component: FC<Props> = ({keyword, onSubmit, onCreate}) => {
  const [keywordProp, setKeywordProp] = useState(keyword);
  const [keywordInput, setKeywordInput] = useState(keyword);
  if (keyword !== keywordProp) {
    setKeywordProp(keyword);
    setKeywordInput(keyword);
  }
  const onSubmitHandler = useCallback(() => {
    onSubmit(keywordInput);
  }, [keywordInput, onSubmit]);

  return (
    <div className={styles.root}>
      <input
        className="keyword"
        name="keyword"
        type="text"
        placeholder="请输入搜索关键字..."
        value={keywordInput}
        onChange={(e) => setKeywordInput(e.target.value.trim())}
      />
      <button className="search" onClick={onSubmitHandler}>
        搜索
      </button>
      <div className="add" onClick={onCreate}>
        +新增
      </div>
    </div>
  );
};

export default memo(Component);
<% }else{ -%>
export default defineComponent({
  name: 'ArticleSearchBar',
  props: {
    keyword: {
      type: String,
      required: true,
    },
    onSubmit: {
      type: Function as PropType<(keyword: string) => void>,
      required: <%= render!=='tpl' %>,
    },
    onCreate: {
      type: Function as PropType<() => void>,
      required: <%= render!=='tpl' %>,
    },
  },
  emits: ['submit', 'create'],
  setup(props, {emit}) {
    const keywordInput = ref(props.keyword);
    watch(
      () => props.keyword,
      (value) => {
        keywordInput.value = value;
      }
    );
    const onSubmitHandler = () => {
      emit('submit', keywordInput.value);
    };
    const onCreateHandler = () => {
      emit('create');
    };
    return {keywordInput, onSubmitHandler, onCreateHandler};
  },
  <%_ if(render !=='tpl'){ -%>
  render() {
    const {onSubmitHandler, onCreateHandler} = this;

    return (
      <div class={styles.root}>
        <input class="keyword" name="keyword" type="text" placeholder="请输入搜索关键字..." v-model={this.keywordInput} />
        <button class="search" onClick={onSubmitHandler}>
          搜索
        </button>
        <div class="add" onClick={onCreateHandler}>
          +新增
        </div>
      </div>
    );
  },
  <%_ } -%>
});
<% } -%>
