import React from 'react';
import {LoadingState} from '@elux/react-redux-web';
import styles from './index.module.<%= css %>';

interface Props {
  loadingState?: LoadingState;
}

const Component: React.FC<Props> = ({loadingState}) => {
  return loadingState === LoadingState.Start || loadingState === LoadingState.Depth ? (
    <div className={`${styles.root} ${loadingState.toLowerCase()}`}>
      <div className="loading-icon" />
    </div>
  ) : null;
};

export default React.memo(Component);
