<% if(render ==='tpl'){ -%>
<template>
  <NavBar title="Not Found" onBack />
  <div :class="[$style.root, 'g-page-content']">
    <div>404</div>
  </div>
</template>
<% } -%>
<% if(framework ==='reactRedux'){ -%>
import {memo, FC} from 'react';
<% }else{ -%>
import {defineComponent} from 'vue';
<% } -%>
import NavBar from '@/components/NavBar.vue';
import styles from './index.module.less';

<% if(framework ==='reactRedux'){ -%>
const Component: FC = () => {
  return (
    <>
      <NavBar title="Not Found" onBack />
      <div className={`${styles.root} g-page-content`}>
        <div>404</div>
      </div>
    </>
  );
};

export default memo(Component);
<% }else{ -%>
export default defineComponent({
  name: 'StageNotFound',
  <%_ if(render ==='tpl'){ -%>
  components: {
    NavBar,
  },
  <%_ } -%>
  <%_ if(render !=='tpl'){ -%>
  render() {
    return (
      <>
        <NavBar title="Not Found" onBack />
        <div class={`${styles.root} g-page-content`}>
          <div>404</div>
        </div>
      </>
    );
  },
  <%_ } -%>
});
<% } -%>
