@import '@/assets/css/var.less';

:global {
  :local(.root) {
    /*# if:admin #*/
    width: 400px;
    font-size: 15px;

    .g-form {
      > .item > .item:first-child {
        width: 5em;
      }
    }
    /*# else #*/
    padding: 40px;

    .g-form {
      > .item > .item:first-child {
        width: 5em;
      }
    }
    /*# end #*/

    .g-ad {
      padding: 20px 0;
      margin: 10px;
    }
  }
}
