import React from 'react';
import {Link} from '@elux/react-redux-web';
import styles from './index.module.<%= css %>';

interface Props {
  selected: 'article' | 'my';
}

const Component: React.FC<Props> = ({selected}) => {
  return (
    <div className={styles.root}>
      <Link route="/article/page" action="relaunch" className={`item ${selected === 'article' ? 'on' : ''}`}<%= platform === 'ssr' ? ' href="/article/page"' : '' %>>
        文章
      </Link>
      <Link route="/my" action="relaunch" className={`item ${selected === 'my' ? 'on' : ''}`}<%= platform === 'ssr' ? ' href="/my"' : '' %>>
        我的
      </Link>
    </div>
  );
};

export default React.memo(Component);
