@import '@/assets/css/var.less';

:global {
  :local(.root) {
    /*# if:admin #*/
    width: 600px;

    .g-form {
      padding-top: 15px;
    }
    /*# else #*/
    padding: 40px 25px 10px;
    /*# end #*/
  }
}
